@model Account
@{
    ViewData["Title"] = "Statements";
}

<div>
    <h1 class="display-4"> Statement for Account @Model.AccountNumber (@Model.AccountType)</h1>
    <div>
        Account Balance: $@Model.Balance;
    </div>

    <h3>Your Transactions</h3>
    @foreach (var statement in Model.Transactions)
    {
        <div>
            <table class="table-borderless">
                <tr>
                    <td>@Html.DisplayNameFor(x => statement.TransactionID):</td>
                    <td>@Html.DisplayFor(x => statement.TransactionID)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(x => statement.TransactionType):</td>
                    <td>@Html.DisplayFor(x => statement.TransactionType)</td>
                </tr>
                @*@if (statement.TransactionType)
                {
                    <tr>
                        <td>@Html.DisplayNameFor(x => statement.DestinationAccountNumber):</td>
                        <td>@Html.DisplayFor(x => statement.DestinationAccountNumber)</td>
                    </tr>
                }*@
                <tr>
                    <td>@Html.DisplayNameFor(x => statement.Amount):</td>
                    <td>@Html.DisplayFor(x => statement.Amount)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(x => statement.Comment):</td>
                    <td>@Html.DisplayFor(x => statement.Comment)</td>
                </tr>
            </table>
        </div>
    }
    @*<div>
        <table class="table">
            <tr>
                <th>@Html.DisplayNameFor(x => x.Transactions[0].TransactionType)</th>
                <th>@Html.DisplayNameFor(x => x.Transactions[0].AccountType)</th>
                <th>@Html.DisplayNameFor(x => x.Transactions[0].Balance)</th>
                <th></th>
            </tr>
            @foreach (var account in Model.Accounts)
            {
                <tr>
                    <td>@Html.DisplayFor(x => account.AccountNumber)</td>
                    <td>@Html.DisplayFor(x => account.AccountType)</td>
                    <td>@Html.DisplayFor(x => account.Balance)</td>
                    <td>
                        <a class="btn btn-primary"
                           asp-action="AccountStatements" asp-route-id="@account.AccountNumber">Check Statements</a>
                    </td>

                </tr>
            }
        </table>
    </div>*@  
</div>

@*<div>
        <a asp-action="Index">Back to Accounts</a>
    </div>*@