@model Customer
@{
    ViewData["Title"] = "Statements";
}

<div>
    <h1 class="display-4">Statements for @Model.CustomerName</h1>
    <br />
    <br />
    <h3>Your Accounts</h3>

    @*change this to show as dropdown box*@
    <table class="table">
        <tr>
            <th>@Html.DisplayNameFor(x => x.Accounts[0].AccountNumber)</th>
            <th>@Html.DisplayNameFor(x => x.Accounts[0].AccountType)</th>
            <th>@Html.DisplayNameFor(x => x.Accounts[0].Balance)</th>
            <th></th>
        </tr>
        @foreach (var account in Model.Accounts)
        {
            <tr>
                <td>@Html.DisplayFor(x => account.AccountNumber)</td>
                <td>@Html.DisplayFor(x => account.AccountType)</td>
                <td>@Html.DisplayFor(x => account.Balance)</td>
                <td>
                    <a class="btn btn-primary"
                       asp-action="AccountStatement" asp-route-id="@account.AccountNumber">Show Account Statement</a>
                </td>

            </tr>
        }
    </table>
</div>

@*<div>
    <a asp-action="Index">Back to Accounts</a>
</div>*@
